.button img{
    width: 3%;
    height: auto;
    float: right;
    top:0;
    bottom:5
}

#mousecoordLabel{
    float:left;
    width:100px;
}

.icon img{   
    width: 3%;
    height: auto;
    float: left;

}

.button  input{
    display: none;
}


.bar1 {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #888888;
    border: 0;  /*デフォルトデザインでは線がある場合があるので、消しておく。*/
  }

.param input{
    width: 50px
}

.keySelect{
    float: right;
    width: 30px;
    font-size:5px;
	bottom: 5;
    top:10%
    right:10%
}

